*{
    text-decoration:none ;
    margin: 0px;
    padding:0px;

}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'open sans',sans-serif;

}

.wrapper{
    width: 1100px;
    margin:auto;
    position: relative;
}

.logo a{
    font-size: 40px;
    font-weight: bold;
    float: left;
    font-family: courier;
    color:black;
    text-align: left;
}

.menu {
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height:  60px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color:beige;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float:left;
}

nav ul li a{
    color:black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
body {
    background-image: url('cover\ 2.jpg'); 
    background-repeat: no-repeat; 
    background-size: 100%; 
    background-position: cover; 
   
}
.logo-itbss{
    float: left; 
    margin-top: 14%; 
    display: block; 
    margin-right: 40px;
    margin-left: 60px;
    border-radius: 3%; 
}

.teks-prodi
{
    font: rgb(81, 49, 49) ;
    position: fixed; 
    top: 55%; 
    left: 49%; 
    transform: translate(-50%, -50%); 
    font-size: 18px; 
    border: 2px solid brown;
    font-family: Arial, sans-serif; 
    padding: 20px;
    border-radius: 10px;  
    text-align: left;
}
.sticker-prodi{
    float: left; 
    margin-top: 1%;
    display: block; 
    margin-right: 40px;
    margin-left: 1150px;
    border-radius: 3%;
}
