*{
    text-decoration:none ;
    margin: 0px;
    padding:0px;

}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'open sans',sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height:100vh;
}

.wrapper{
    width: 1100px;
    margin:auto;
    position: relative;
}

.logo a{
    font-size: 40px;
    font-weight: bold;
    float: left;
    font-family: courier;
    color:black;
    text-align: left;
}

.menu {
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height:  60px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color:beige;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float:left;
}

nav ul li a{
    color:black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}




.profile-img{
    float: left; /* Mengapit gambar di sebelah kanan */
    margin-top: 1%; /* Atur jarak antara gambar profil dan navigasi */
    display: block; /* Pastikan gambar dianggap sebagai blok */
    
    margin-left: 185px;
    border-radius: 3%; /* Membuat gambar profil menjadi bentuk lingkaran */
}
.table tr th td {
    width: 90%;
    margin: 50px;
    border-collapse: collapse;
    margin-top: 10%;
    margin-bottom: 60%;
    margin-left: 95px;
    
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 4px solid brown;
}
th {
    background-color: brown;
}

.teks-profile{
    width: 600px;
    margin: 0 auto;
}
p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: justify;
}

.teks-profile 
{
    font: rgb(81, 49, 49) ;
    position: fixed; 
    top: 75%; 
    left: 30%; 
    transform: translate(-50%, -50%); 
    font-size: 40px; 
    border: 2px solid brown;
    font-family: Arial, sans-serif; 
    padding: 1px; 
    border-radius: 5px; 
    text-align: left;
}  
.sticker{
    float: right; 
    margin-top: 1%; 
    display: block; 
    margin-right: 270px;
    margin-left: 140px;
    border-radius: 3%; 
}
